* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #6EC1E4, #5CA6D1, #93C2D3);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

input {
    padding: 12px;
    font-size: 16px;
    margin-right: 10px;
    width: calc(100% - 120px);
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #3796c2;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #305b83;
}

#weatherInfo {
    margin-top: 20px;
}

#currentTemp, #currentWeather {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

#forecast img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

#forecast {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}
